@model CardistryCloud.Models.Cardtrick

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cardtrick</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kategorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategorie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schwierigkeitsgrad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schwierigkeitsgrad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
